<div class="flex flex-col gap-8 w-full">
  <div class="flex flex-col w-full">
    <h2 class="text-xl text-theme-primary mb-2">My svelte Journey</h2>
    <p class="text-theme-body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, numquam!
    </p>
    <div class="py-4 pb-4 flex gap-4 overflow-x-scroll md:max-w-[700px]">
      <a
        href="/articles/slug"
        class="p-4 shrink-0 h-[260px] flex flex-col w-[220px] hover:ml-[-70px] hover:rotate-6 hover:-translate-y-2 first:hover:translate-y-0 first:hover:ml-[100px] hover:translate-x-[-80px] hover:mr-[50px] first:hover:mr-[40px] first:ml-0 card-glass-box ml-[-100px] origin-center shadow border gap-4 relative transition-all group border-theme-accent duration-200 will-change-transform rounded-md cursor-pointer hover:border-theme-accent border-opacity-20 hover:border-opacity-20"
      >
        <h2 class="text-xl mt-auto font-semibold text-white">
          My svelte Journey
        </h2>
        <div class="flex gap-2 mt-4">
          <span
            class="block px-2 py-1 text-sm rounded-lg cursor-pointer bg-theme-primary-opaque"
          >
            Svelte
          </span>
        </div>
        <span class="block my-1 text-sm text-theme-primary">
          July 12, 2021
        </span>
      </a>
      <a
        href="/articles/slug"
        class="p-4 shrink-0 h-[260px] flex flex-col w-[220px] hover:ml-[-70px] hover:rotate-6 hover:-translate-y-2 first:hover:translate-y-0 first:hover:ml-[100px] hover:translate-x-[-80px] hover:mr-[50px] first:hover:mr-[40px] first:ml-0 card-glass-box ml-[-100px] origin-center shadow border gap-4 relative transition-all group border-theme-accent duration-200 will-change-transform rounded-md cursor-pointer hover:border-theme-accent border-opacity-20 hover:border-opacity-20"
      >
        <h2 class="text-xl mt-auto font-semibold text-white">
          My svelte Journey
        </h2>
        <div class="flex gap-2 mt-4">
          <span
            class="block px-2 py-1 text-sm rounded-lg cursor-pointer bg-theme-primary-opaque"
          >
            Svelte
          </span>
        </div>
        <span class="block my-1 text-sm text-theme-primary">
          July 12, 2021
        </span>
      </a>
      <a
        href="/articles/slug"
        class="p-4 shrink-0 h-[260px] flex flex-col w-[220px] hover:ml-[-70px] hover:rotate-6 hover:-translate-y-2 first:hover:translate-y-0 first:hover:ml-[100px] hover:translate-x-[-80px] hover:mr-[50px] first:hover:mr-[40px] first:ml-0 card-glass-box ml-[-100px] origin-center shadow border gap-4 relative transition-all group border-theme-accent duration-200 will-change-transform rounded-md cursor-pointer hover:border-theme-accent border-opacity-20 hover:border-opacity-20"
      >
        <h2 class="text-xl mt-auto font-semibold text-white">
          My svelte Journey
        </h2>
        <div class="flex gap-2 mt-4">
          <span
            class="block px-2 py-1 text-sm rounded-lg cursor-pointer bg-theme-primary-opaque"
          >
            Svelte
          </span>
        </div>
        <span class="block my-1 text-sm text-theme-primary">
          July 12, 2021
        </span>
      </a>
      <a
        href="/articles/slug"
        class="p-4 shrink-0 h-[260px] flex flex-col w-[220px] hover:ml-[-70px] hover:rotate-6 hover:-translate-y-2 first:hover:translate-y-0 first:hover:ml-[100px] hover:translate-x-[-80px] hover:mr-[50px] first:hover:mr-[40px] first:ml-0 card-glass-box ml-[-100px] origin-center shadow border gap-4 relative transition-all group border-theme-accent duration-200 will-change-transform rounded-md cursor-pointer hover:border-theme-accent border-opacity-20 hover:border-opacity-20"
      >
        <h2 class="text-xl mt-auto font-semibold text-white">
          My svelte Journey
        </h2>
        <div class="flex gap-2 mt-4">
          <span
            class="block px-2 py-1 text-sm rounded-lg cursor-pointer bg-theme-primary-opaque"
          >
            Svelte
          </span>
        </div>
        <span class="block my-1 text-sm text-theme-primary">
          July 12, 2021
        </span>
      </a>
      <a
        href="/articles/slug"
        class="p-4 shrink-0 h-[260px] flex flex-col w-[220px] hover:ml-[-70px] hover:rotate-6 hover:-translate-y-2 first:hover:translate-y-0 first:hover:ml-[100px] hover:translate-x-[-80px] hover:mr-[50px] first:hover:mr-[40px] first:ml-0 card-glass-box ml-[-100px] origin-center shadow border gap-4 relative transition-all group border-theme-accent duration-200 will-change-transform rounded-md cursor-pointer hover:border-theme-accent border-opacity-20 hover:border-opacity-20"
      >
        <h2 class="text-xl mt-auto font-semibold text-white">
          My svelte Journey
        </h2>
        <div class="flex gap-2 mt-4">
          <span
            class="block px-2 py-1 text-sm rounded-lg cursor-pointer bg-theme-primary-opaque"
          >
            Svelte
          </span>
        </div>
        <span class="block my-1 text-sm text-theme-primary">
          July 12, 2021
        </span>
      </a>
    </div>
  </div>
</div>
