<div
  class="border p-4 border-theme-accent-opaque glass-box rounded-md sticky top-10 md:top-20"
>
  <div class="flex max-h-max py-2 md:py-0 gap-2 md:flex-wrap overflow-x-auto">
    <button
      class="text-sm flex cursor-pointer items-center hover:text-theme-accent py-2 hover:bg-theme-primary duration-300 hover:border-theme-primary hover:border-opacity-5 hover:bg-opacity-5 transition-all border border-transparent px-4 rounded-full"
    >
      All
    </button>
    <button
      class="text-sm min-w-max cursor-pointer hover:text-theme-accent py-2 hover:bg-theme-primary duration-300 hover:border-theme-primary hover:border-opacity-5 hover:bg-opacity-5 transition-all border border-transparent px-4 rounded-full"
    >
      Vim
    </button>
  </div>
</div>
