<header
  class="text-theme-bodybg-gray-900 bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-[0.15] border-gray-800 justify-between border-b flex items-center px-4 md:px-[10%] absolute top-0 left-0 h-[3.5em] z-[99999] w-full"
>
  <a href="/" class="font-bold text-theme-body"> Arkar Myat </a>
  <NavModal visible="{visible}" toggle="{toggle}" />

  <button
    aria-label="Open Navigation Modal"
    role="button"
    class="flex p-2 border border-gray-800 rounded-md cursor-pointer lg:hidden text-theme-body md:block bg-opacity-10 hover:bg-theme-primary hover:bg-opacity-5"
  >
    Open Nav
  </button>
</header>
