<div class="flex flex-col gap-4 @container">
  <p class="my-2 text-md">Checkout my latest articles</p>
  <div class="gap-4 grid @md:grid-cols-2">
    <!--Article Card-->
    <a
      href="/articles/slug"
      class="relative md:brightness-75 md:hover:brightness-100 overflow-hidden flex flex-col gap-2 p-4 transition-all duration-500 rounded-md border hover:bg-gradient-to-r hover:from-theme-accent-opaque border-theme-accent border-opacity-10 hover:border-opacity-20"
    >
      <div
        class="w-[25%] top-[20%] left-[0%] transform-center hidden translate-y-[-1/2] aspect-square absolute translate-x-[-1/2] gradient-two"
      ></div>
      <h2 class="text-base mb-2 leading-relaxed font-semibold">
        neovim from scratch with lazy.nvim
      </h2>
      <p class="text-base line-clamp-2 text-gray-400">
        lorem ipsum dolor sit amet consectetur, adipisicing elit. fugit,
        molestiae?
      </p>
      <div class="flex justify-between items-center gap-4">
        <span class="block my-1 text-sm text-theme-primary">
          july 12, 2021
        </span>
        <div class="flex items-center gap-2">
          <div>
            <span class="text-sm">vim</span>
            <span class="text-theme-accent"> / </span>
          </div>
        </div>
      </div>
    </a>

    <!--Article Card-->
    <a
      href="/articles/slug"
      class="relative md:brightness-75 md:hover:brightness-100 overflow-hidden flex flex-col gap-2 p-4 transition-all duration-500 rounded-md border hover:bg-gradient-to-r hover:from-theme-accent-opaque border-theme-accent border-opacity-10 hover:border-opacity-20"
    >
      <div
        class="w-[25%] top-[20%] left-[0%] transform-center hidden translate-y-[-1/2] aspect-square absolute translate-x-[-1/2] gradient-two"
      ></div>
      <h2 class="text-base mb-2 leading-relaxed font-semibold">
        neovim from scratch with lazy.nvim
      </h2>
      <p class="text-base line-clamp-2 text-gray-400">
        lorem ipsum dolor sit amet consectetur, adipisicing elit. fugit,
        molestiae?
      </p>
      <div class="flex justify-between items-center gap-4">
        <span class="block my-1 text-sm text-theme-primary">
          july 12, 2021
        </span>
        <div class="flex items-center gap-2">
          <div>
            <span class="text-sm">vim</span>
            <span class="text-theme-accent"> / </span>
          </div>
        </div>
      </div>
    </a>

    <!--Article Card-->
    <a
      href="/articles/slug"
      class="relative md:brightness-75 md:hover:brightness-100 overflow-hidden flex flex-col gap-2 p-4 transition-all duration-500 rounded-md border hover:bg-gradient-to-r hover:from-theme-accent-opaque border-theme-accent border-opacity-10 hover:border-opacity-20"
    >
      <div
        class="w-[25%] top-[20%] left-[0%] transform-center hidden translate-y-[-1/2] aspect-square absolute translate-x-[-1/2] gradient-two"
      ></div>
      <h2 class="text-base mb-2 leading-relaxed font-semibold">
        neovim from scratch with lazy.nvim
      </h2>
      <p class="text-base line-clamp-2 text-gray-400">
        lorem ipsum dolor sit amet consectetur, adipisicing elit. fugit,
        molestiae?
      </p>
      <div class="flex justify-between items-center gap-4">
        <span class="block my-1 text-sm text-theme-primary">
          july 12, 2021
        </span>
        <div class="flex items-center gap-2">
          <div>
            <span class="text-sm">vim</span>
            <span class="text-theme-accent"> / </span>
          </div>
        </div>
      </div>
    </a>

    <!--Article Card-->
    <a
      href="/articles/slug"
      class="relative md:brightness-75 md:hover:brightness-100 overflow-hidden flex flex-col gap-2 p-4 transition-all duration-500 rounded-md border hover:bg-gradient-to-r hover:from-theme-accent-opaque border-theme-accent border-opacity-10 hover:border-opacity-20"
    >
      <div
        class="w-[25%] top-[20%] left-[0%] transform-center hidden translate-y-[-1/2] aspect-square absolute translate-x-[-1/2] gradient-two"
      ></div>
      <h2 class="text-base mb-2 leading-relaxed font-semibold">
        neovim from scratch with lazy.nvim
      </h2>
      <p class="text-base line-clamp-2 text-gray-400">
        lorem ipsum dolor sit amet consectetur, adipisicing elit. fugit,
        molestiae?
      </p>
      <div class="flex justify-between items-center gap-4">
        <span class="block my-1 text-sm text-theme-primary">
          july 12, 2021
        </span>
        <div class="flex items-center gap-2">
          <div>
            <span class="text-sm">vim</span>
            <span class="text-theme-accent"> / </span>
          </div>
        </div>
      </div>
    </a>

  </div>
</div>
