{{#*inline "page"}}
<div class="page-container">
  <div class="col-span-full md:col-span-1">
    <Hero
      title="{hero.title}"
      description="{hero.description}"
      subtitle="{hero.subtitle}"
    />

    <div class="flex flex-col gap-6 mb-4">
      <div class="leading-[2.5] text-gray-200 text-lg">
        <img
          src="/static/profile.webp"
          alt="My profile"
          class="object-cover float-none md:float-left w-[200px] rounded-full aspect-square m-8"
        />
        <p>
          An inspiring software engineer, Coding with a strong passion for
          design and computer science, I enjoy creating amazing things and
          building blazingly-fast websites.
        </p>
        <p>
          Currently working mostly with Typescript, React, and Svelte, as well
          as other JavaScript technologies for now. Here in my blog, I mostly
          write about my experiences and share my thoughts on various topics
          related to software engineering.
        </p>
        <p>
          Over the past years, I have written content for my blog and
          newsletter. I strive to keep things simple by writing about
          technologies that interest me at the time, as well as how I am
          learning and growing in my career.
        </p>
      </div>
    </div>
  </div>
  {{/inline}} {{> (lookup this "layout")}}
</div>
