{{#*inline "page"}}
<div class="page-container gap-4">
  <div class="w-full flex flex-col gap-8">
    <div class="py-8">
      <h1 class="font-bold text-white title">{{article.title}}</h1>
      <div class="flex items-center justify-between">
        <span class="block my-4 text-theme-accent">
          {{article.updatedat}}
        </span>
        <span class="block text-sm font-bold text-theme-primary"> Arkar </span>
      </div>
      <p class="leading-loose text-base text-theme-body">
        {{ article.description }}
      </p>

      <div class="prose prose-p:text-theme-body">
        {{ { block } }}
      </div>
    </div>
  </div>
</div>
{{/inline}} 
{{> (lookup this "layout")}}
